body {
    margin: 0px;
}

header {
    width: 100%;
    background-color: #d66e6e;
    height: 40px;
    font-size: 2rem;
}

nav {
    height: 300px;
    width: 20%;
    background-color: #d88453;
    font-size: 1.5rem;
    float: left;
}

section {
    width: 60%;
    height: 300px;
    background-color: #c2b04d;
    font-size: 1.5rem;
    float: left;
}

aside {
    width: 20%;
    height: 300px;
    background-color: #73bd56;
    font-size: 1.5rem;
    float: left;
}

aside::after {
    clear: both;
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgb(73, 194, 188);
    font-size: 2rem;
    float: left;
}




.naglowek {
    width: 100%;
    background-color: #d66e6e;
    height: 40px;
    font-size: 2rem;
}

.menu {
    height: 300px;
    width: 20%;
    background-color: #d88453;
    font-size: 1.5rem;
    float: left;
}

.tresc {
    width: 60%;
    height: 300px;
    background-color: #c2b04d;
    font-size: 1.5rem;
    float: left;
}

.reklama {
    width: 20%;
    height: 300px;
    background-color: #73bd56;
    font-size: 1.5rem;
    float: left;
}
.reklama::after {
    clear: both;
}

.stopka {
    width: 100%;
    height: 80px;
    background-color: rgb(73, 194, 188);
    font-size: 2rem;
    float: left;
}